[submodule "library/aur"]
	path = library/aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "ansible/library/ansible-aur"]
	path = ansible/library/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
